html {
    background-color: black;
    color: white;
    font-family: 'Bungee Inline', monospace;
    font-size: 1.5rem;
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

#gamespace {
    justify-items: center;
    text-align: center;
    width: 50vw;
    padding: 64px;
}

#selection {
    display: flex;
    justify-content: space-evenly;
    padding: 32px 16px;

}

.playerchoice {
    width: 20%;
    border-radius: 50%;
    transition: transform .4s;
}

.zoom:hover {
    transform: scale(1.2);
    border-color: #c3bfae;
    box-shadow: 0 0 1rem #c3bfae;
}

.visible {
    display: block;
}

#versus, #computer, .invisible {
    display: none;
}

#computer {
    width: 20%;
    border-radius: 50%;
    margin-left: 0;
}

#resultspace {
    margin: 32px;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playagain {
    font-family: inherit;
    color:  white;
    background-color: black;
    border: 4px solid white;
    font-size: 0.8em;
    border-radius: 24px;
    padding: 8px auto;
    margin-top: 16px;
    max-width: 120px;
    transition: transform .2s;
    cursor: pointer;
    text-align: center;
}

#playagain:hover {
    transform: scale(1.1);
    border-color: #c3bfae;
    box-shadow: 0 0 1rem #c3bfae;
}

#footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#scorer {
    opacity: 0;
}

#nextround {
    opacity: 0;
    font-family: inherit;
    color:  white;
    background-color: black;
    border: 4px solid white;
    font-size: 0.8em;
    border-radius: 24px;
    padding: 8px auto;
    margin-top: 16px;
    max-width: 120px;
    transition: transform .2s;
    cursor: pointer;
    text-align: center;
}

#nextround:hover {
    transform: scale(1.1);
    border-color: #c3bfae;
    box-shadow: 0 0 1rem #c3bfae;
}

#bottombar {
    text-align: center;
    font-size: medium;
}

#gitLink {
    text-decoration: none;
    color: #c3bfae;
}

#gitLink:hover {
    text-decoration: underline;
}